certifi            2024.8.30
cfgv               3.4.0
charset-normalizer 3.3.2
distlib            0.3.8
filelock           3.16.1
identify           2.6.1
idna               3.10
logging            0.4.9.6
nodeenv            1.9.1
pip                24.0
platformdirs       4.3.6
pre-commit         3.8.0
python-dotenv      1.0.1
PyYAML             6.0.2
requests           2.32.3
setuptools         65.5.0
slack_sdk          3.33.1
urllib3            2.2.3
virtualenv         20.26.5